<form (ngSubmit)="this.onSearch()" class="m-3 p-3">
  <div style="display: flex; justify-content: center; align-items: center;">
    <div class="p-float-label p-input-icon-left">
      <i class="fa fa-github"></i>
      <input
        [(ngModel)]="this.search"
        autocomplete="off"
        id="search"
        name="search"
        pInputText
        type="text"
      />
      <label for="search">Search</label>
    </div>
    <button
      type="submit"
      class="btn btn-outline-primary btn-lg h-100"
      style="border-radius: 0"
    >
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
<hr />
<app-git-result [profiles]="this.profiles"></app-git-result>
