/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css";
@import "./themes.scss";
html,
body {
  font-size: 14px;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}
