<div class="app-container">
  <div
    *ngIf="this.account?.state"
    class="container-sidenav shadow"
    [ngClass]="this.sidenav"
  >
    <app-sidenav></app-sidenav>
  </div>
  <div class="container-center">
    <div class="container-navbar shadow" *ngIf="this.account?.state">
      <app-navbar></app-navbar>
    </div>
    <div class="container-content">
      <div class="content-title">{{ this.route }}</div>
      <div class="content-main">
        <ng-content #content></ng-content>
      </div>
    </div>
  </div>
</div>
