<div class="app-navbar">
  <div class="navbar-start font-pacifico">webpals</div>
  <div class="navbar-links">
    <div class="dropdown open">
      <button
        class="btn dropdown-toggle text-white"
        type="button"
        id="triggerId"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fa fa-user-o"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <button class="dropdown-item" (click)="this.userLogout()">
          <i class="fa fa-sign-out mr-3"></i>Logout
        </button>
      </div>
    </div>
    <a class="btn" target="_blank" href="../../docs/overview.html">
      <i class="fa fa-code text-white"></i>
    </a>
    <a class="btn" target="_blank" href="https://github.com/probeh/webpals">
      <i class="fa fa-github text-white"></i>
    </a>
  </div>
</div>
