@import "common.scss";
.app-navbar {
  align-items: center;
  background: $primary;
  color: white;
  display: flex;
  height: 40px;
  justify-content: space-between;
  max-height: 40px;
  padding: 0px 10px;

  .navbar-start {
    flex: auto;
    font-size: 20px;
  }
  .navbar-links {
    display: flex;
    .btn:hover {
      background: lighten($color: $primary, $amount: 10%);
    }
  }
}
.dropdown-menu.show {
  position: absolute;
  padding: 0px;
  border: none;
}
.dropdown-item {
  color: $primary;
  padding: 10px 10px;
  position: relative;
}
.dropdown-item:hover {
  transition: ease-in-out 250ms;
  background: $primary;
  color: white;
}
