@import "common.scss";

.card-form {
  @extend .shadow;
  margin: 100px auto;
  width: 50%;
  .card-header {
    padding: 15px;
    font-size: 24px;
  }
  .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    text-align: center;

    form {
      width: 100%;
    }
    input {
      width: 100%;
    }

    .p-float-label {
      margin-bottom: 25px;
    }
  }
}
.fa {
  margin-right: 10px;
}
#login-btn {
  font-size: 16px;
  width: 50%;
  border-radius: 20px;
}
